@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1w996g');
  src:  url('fonts/icomoon.eot?1w996g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1w996g') format('truetype'),
    url('fonts/icomoon.woff?1w996g') format('woff'),
    url('fonts/icomoon.svg?1w996g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google-color {
  position: relative;
  top: -8px;
}
.icon-instagram-color:before {
  content: "\e99a";
  color: #474856;
}
.icon-google-color .path1:before {
  position: absolute;
  content: "\e99b";
  margin-left: -0.9794921875em;
  color: rgb(251, 188, 5);
}
.icon-google-color .path2:before {
  position: absolute;
  content: "\e99c";
  margin-left: -0.9794921875em;
  color: rgb(234, 67, 53);
}
.icon-google-color .path3:before {
  position: absolute;
  content: "\e99d";
  margin-left: -0.9794921875em;
  color: rgb(52, 168, 83);
}
.icon-google-color .path4:before {
  position: absolute;
  content: "\e99e";
  margin-left: -0.9794921875em;
  color: rgb(66, 133, 244);
}
.icon-facebook-color:before {
  content: "\e99f";
  color: #4460a0;
}
.icon-panier:before {
  content: "\e999";
  color: #474856;
}
.icon-les-cachotieres:before {
  content: "\e900";
  color: #474856;
}
.icon-les-cachotieres1:before {
  content: "\e901";
  color: #474856;
}
.icon-tenuesles-cachotieres-:before {
  content: "\e902";
  color: #474856;
}
.icon-les-cachotieres2:before {
  content: "\e903";
  color: #474856;
}
.icon-hles-cachotieres:before {
  content: "\e904";
  color: #474856;
}
.icon-accessoire:before {
  content: "\e905";
  color: #4d4d4d;
}
.icon-accueilles-cachotieres:before {
  content: "\e906";
  color: #474856;
}
.icon-aller-retour-1les-cachotieres:before {
  content: "\e907";
  color: #474856;
}
.icon-ample:before {
  content: "\e908";
  color: #474856;
}
.icon-annee-20les-cachotieres:before {
  content: "\e909";
  color: #474856;
}
.icon-attentionles-cachotieres:before {
  content: "\e90a";
  color: #474856;
}
.icon-backles-cachotieres:before {
  content: "\e90b";
  color: #474856;
}
.icon-balles-cachotieres:before {
  content: "\e90c";
  color: #474856;
}
.icon-bravoles-cachotieres:before {
  content: "\e90d";
  color: #474856;
}
.icon-cagnotte-1les-cachotieres:before {
  content: "\e90e";
  color: #474856;
}
.icon-cagnotte-2les-cachotieres:before {
  content: "\e90f";
  color: #474856;
}
.icon-carte-prepayeeles-cachotieres:before {
  content: "\e910";
  color: #474856;
}
.icon-cavapasles-cachotieres:before {
  content: "\e911";
  color: #474856;
}
.icon-ceremonieles-cachotieres:before {
  content: "\e912";
  color: #474856;
}
.icon-checkles-cachotieres:before {
  content: "\e913";
  color: #474856;
}
.icon-choix-3-modelesles-cachotieres:before {
  content: "\e914";
  color: #474856;
}
.icon-choix-articlesles-cachotieres:before {
  content: "\e915";
  color: #474856;
}
.icon-cintre:before {
  content: "\e916";
  color: #474856;
}
.icon-closeles-cachotieres:before {
  content: "\e917";
  color: #474856;
}
.icon-cocktailles-cachotieres:before {
  content: "\e918";
  color: #474856;
}
.icon-code-promoles-cachotieres:before {
  content: "\e919";
  color: #474856;
}
.icon-compteles-cachotieres:before {
  content: "\e91a";
  color: #474856;
}
.icon-conceptles-cachotieres:before {
  content: "\e91b";
  color: #474856;
}
.icon-decollete:before {
  content: "\e91c";
  color: #474856;
}
.icon-deconnexionles-cachotieres:before {
  content: "\e91d";
  color: #474856;
}
.icon-dentelle:before {
  content: "\e91e";
  color: #474856;
}
.icon-depot_1les-cachotieres:before {
  content: "\e91f";
  color: #474856;
}
.icon-depotles-cachotieres:before {
  content: "\e920";
  color: #474856;
}
.icon-dosnus:before {
  content: "\e921";
  color: #474856;
}
.icon-droite:before {
  content: "\e922";
  color: #474856;
}
.icon-emailles-cachotieres:before {
  content: "\e923";
  color: #474856;
}
.icon-essayageles-cachotieres:before {
  content: "\e924";
  color: #474856;
}
.icon-etiquette-coupeles-cachotieres:before {
  content: "\e925";
  color: #474856;
}
.icon-etiquette-non-coupeles-cachotieres:before {
  content: "\e926";
  color: #474856;
}
.icon-eurosles-cachotieres:before {
  content: "\e927";
  color: #474856;
}
.icon-facebook:before {
  content: "\e928";
  color: #fff;
}
.icon-facebookles-cachotieres:before {
  content: "\e929";
  color: #474856;
}
.icon-facturationles-cachotieres:before {
  content: "\e92a";
  color: #474856;
}
.icon-faqles-cachotieres:before {
  content: "\e92b";
  color: #474856;
}
.icon-favorisles-cachotieres:before {
  content: "\e92c";
  color: #474856;
}
.icon-fete-famille:before {
  content: "\e92d";
  color: #4d4d4d;
}
.icon-feteles-cachotieres:before {
  content: "\e92e";
  color: #474856;
}
.icon-Fichier-3 .path1:before {
  content: "\e92f";
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path2:before {
  content: "\e930";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path3:before {
  content: "\e931";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path4:before {
  content: "\e932";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path5:before {
  content: "\e933";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path6:before {
  content: "\e934";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path7:before {
  content: "\e935";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path8:before {
  content: "\e936";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path9:before {
  content: "\e937";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path10:before {
  content: "\e938";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path11:before {
  content: "\e939";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path12:before {
  content: "\e93a";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path13:before {
  content: "\e93b";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path14:before {
  content: "\e93c";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path15:before {
  content: "\e93d";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path16:before {
  content: "\e93e";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
}
.icon-Fichier-3 .path17:before {
  content: "\e93f";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path18:before {
  content: "\e940";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path19:before {
  content: "\e941";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path20:before {
  content: "\e942";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path21:before {
  content: "\e943";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path22:before {
  content: "\e944";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path23:before {
  content: "\e945";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path24:before {
  content: "\e946";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path25:before {
  content: "\e947";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path26:before {
  content: "\e948";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path27:before {
  content: "\e949";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path28:before {
  content: "\e94a";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path29:before {
  content: "\e94b";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path30:before {
  content: "\e94c";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path31:before {
  content: "\e94d";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path32:before {
  content: "\e94e";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path33:before {
  content: "\e94f";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path34:before {
  content: "\e950";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path35:before {
  content: "\e951";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path36:before {
  content: "\e952";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path37:before {
  content: "\e953";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path38:before {
  content: "\e954";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path39:before {
  content: "\e955";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path40:before {
  content: "\e956";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path41:before {
  content: "\e957";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path42:before {
  content: "\e958";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path43:before {
  content: "\e959";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path44:before {
  content: "\e95a";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path45:before {
  content: "\e95b";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path46:before {
  content: "\e95c";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path47:before {
  content: "\e95d";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-Fichier-3 .path48:before {
  content: "\e95e";
  margin-left: -1.06640625em;
  color: rgb(71, 72, 86);
  opacity: 0.3;
}
.icon-fil-fer:before {
  content: "\e95f";
  color: #474856;
}
.icon-fleche-1les-cachotieres:before {
  content: "\e960";
  color: #474856;
}
.icon-fleche-2les-cachotieres:before {
  content: "\e961";
  color: #474856;
}
.icon-fluo:before {
  content: "\e962";
  color: #474856;
}
.icon-galales-cachotieres:before {
  content: "\e963";
  color: #474856;
}
.icon-genoux .path1:before {
  content: "\e964";
  color: rgb(71, 72, 86);
}
.icon-genoux .path2:before {
  content: "\e965";
  margin-left: -0.7822265625em;
  color: rgb(243, 162, 158);
}
.icon-grossesseles-cachotieres:before {
  content: "\e966";
  color: #474856;
}
.icon-imprime:before {
  content: "\e967";
  color: #474856;
}
.icon-instagram:before {
  content: "\e968";
  color: #fff;
}
.icon-instagramles-cachotieres:before {
  content: "\e969";
  color: #474856;
}
.icon-iphoneles-cachotieres:before {
  content: "\e96a";
  color: #474856;
}
.icon-jupes:before {
  content: "\e96b";
  color: #4d4d4d;
}
.icon-lien:before {
  content: "\e96c";
  color: #474856;
}
.icon-livraison-maison-bureaules-cachotieres:before {
  content: "\e96d";
  color: #474856;
}
.icon-livraison-point-relaisles-cachotieres:before {
  content: "\e96e";
  color: #474856;
}
.icon-location-videles-cachotieres:before {
  content: "\e96f";
  color: #474856;
}
.icon-long .path1:before {
  content: "\e970";
  color: rgb(71, 72, 86);
}
.icon-long .path2:before {
  content: "\e971";
  margin-left: -0.5947265625em;
  color: rgb(243, 162, 158);
}
.icon-manteau:before {
  content: "\e972";
  color: #4d4d4d;
}
.icon-mariageles-cachotieres:before {
  content: "\e973";
  color: #474856;
}
.icon-mesureles-cachotieres:before {
  content: "\e974";
  color: #474856;
}
.icon-micuisses .path1:before {
  content: "\e975";
  color: rgb(71, 72, 86);
}
.icon-micuisses .path2:before {
  content: "\e976";
  margin-left: -0.7822265625em;
  color: rgb(243, 162, 158);
}
.icon-mini .path1:before {
  content: "\e977";
  color: rgb(71, 72, 86);
}
.icon-mini .path2:before {
  content: "\e978";
  margin-left: -0.7822265625em;
  color: rgb(243, 162, 158);
}
.icon-mode-de-paiementles-cachotieres:before {
  content: "\e979";
  color: #474856;
}
.icon-mot-de-passeles-cachotieres:before {
  content: "\e97a";
  color: #474856;
}
.icon-moulante:before {
  content: "\e97b";
  color: #474856;
}
.icon-nous-suivreles-cachotieres:before {
  content: "\e97c";
  color: #474856;
}
.icon-openles-cachotieres:before {
  content: "\e97d";
  color: #474856;
}
.icon-paillette:before {
  content: "\e97e";
  color: #474856;
}
.icon-panierles-cachotieres:before {
  content: "\e97f";
  color: #474856;
}
.icon-pantalon:before {
  content: "\e980";
  color: #4d4d4d;
}
.icon-pas-de-favorisles-cachotieres:before {
  content: "\e981";
  color: #474856;
}
.icon-pastel:before {
  content: "\e982";
  color: #474856;
}
.icon-phoneles-cachotieres:before {
  content: "\e983";
  color: #474856;
}
.icon-photo:before {
  content: "\e984";
  color: #474856;
}
.icon-pinterest:before {
  content: "\e985";
  color: #fff;
}
.icon-pinterestles-cachotieres:before {
  content: "\e986";
  color: #474856;
}
.icon-planningles-cachotieres:before {
  content: "\e987";
  color: #474856;
}
.icon-plisse:before {
  content: "\e988";
  color: #474856;
}
.icon-pressing_1les-cachotieres:before {
  content: "\e989";
  color: #474856;
}
.icon-pressingles-cachotieres:before {
  content: "\e98a";
  color: #474856;
}
.icon-profiter-tenueles-cachotieres:before {
  content: "\e98b";
  color: #474856;
}
.icon-rdv-galantles-cachotieres:before {
  content: "\e98c";
  color: #474856;
}
.icon-rechercheles-cachotieres:before {
  content: "\e98d";
  color: #474856;
}
.icon-robes:before {
  content: "\e98e";
  color: #474856;
}
.icon-se-marierles-cachotieres:before {
  content: "\e98f";
  color: #474856;
}
.icon-tissu-relief:before {
  content: "\e990";
  color: #474856;
}
.icon-tops:before {
  content: "\e991";
  color: #4d4d4d;
}
.icon-transport-2les-cachotieres:before {
  content: "\e992";
  color: #474856;
}
.icon-trash:before {
  content: "\e993";
  color: #474856;
}
.icon-travailles-cachotieres:before {
  content: "\e994";
  color: #474856;
}
.icon-twitterles-cachotieres:before {
  content: "\e995";
  color: #474856;
}
.icon-vacancesles-cachotieres:before {
  content: "\e996";
  color: #474856;
}
.icon-volant:before {
  content: "\e997";
  color: #4d4d4d;
}
.icon-pencil:before {
  content: "\e998";
}
