<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Test Les Cachotières - {% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
</head>

<body>

{% include 'partials/header.html.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{% include 'partials/footer.html.twig' %}

{{ encore_entry_script_tags('app') }}
<script src="https://kit.fontawesome.com/db3104123b.js" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>